### Importing libraries

In [8]:
import numpy as np
import pandas as pd

### Loading Data

In [9]:
dataset = pd.read_csv("Dataset/FeatureEnginnered.csv")
dataset.head()

,Unnamed: 0,0,1,2,3,4,5,6,7,8,9,10,11
0,0,-0.326221,0.293517,-1.041760,-1.225848,-0.911583,0.646092,0.970243,0.021886,1.977165,-0.578736,-0.573809,-1.095988
1,1,-0.440036,0.198164,-1.387538,0.117350,-0.911583,-1.547768,0.970243,0.216534,-0.505775,-0.578736,1.742740,-1.095988
2,2,-1.536794,0.293517,1.032908,1.333053,2.527057,0.646092,-1.030670,0.240687,1.977165,-0.578736,-0.573809,-1.095988
3,3,0.501521,0.007457,-1.387538,-1.225848,0.807737,-1.547768,-1.030670,-0.108918,-0.505775,-0.578736,-0.573809,-1.095988
4,4,2.063884,0.388871,-1.041760,0.785728,-0.911583,0.646092,0.970243,-0.365276,-0.505775,-0.578736,1.742740,-1.095988

In [12]:
dataset.drop(columns=["Unnamed: 0"], inplace=True)
dataset.head()

,0,1,2,3,4,5,6,7,8,9,10,11
0,-0.326221,0.293517,-1.041760,-1.225848,-0.911583,0.646092,0.970243,0.021886,1.977165,-0.578736,-0.573809,-1.095988
1,-0.440036,0.198164,-1.387538,0.117350,-0.911583,-1.547768,0.970243,0.216534,-0.505775,-0.578736,1.742740,-1.095988
2,-1.536794,0.293517,1.032908,1.333053,2.527057,0.646092,-1.030670,0.240687,1.977165,-0.578736,-0.573809,-1.095988
3,0.501521,0.007457,-1.387538,-1.225848,0.807737,-1.547768,-1.030670,-0.108918,-0.505775,-0.578736,-0.573809,-1.095988
4,2.063884,0.388871,-1.041760,0.785728,-0.911583,0.646092,0.970243,-0.365276,-0.505775,-0.578736,1.742740,-1.095988

### Feature Selection
We are trying to find correlation between features. If the feature have very high correlation or very low correlation wrt some other correlation, we can opt for single and eliminate other.

In [15]:
dataset.corr()

,0,1,2,3,4,5,6,7,8,9,10,11
0,1.000000,-0.003965,0.000842,0.006268,0.012238,-0.005458,0.025651,-0.001384,-0.027094,0.005538,0.004780,-0.002857
1,-0.003965,1.000000,-0.009997,0.028308,-0.030680,-0.011721,0.085472,-0.007201,0.285323,0.046897,-0.001685,-0.027544
2,0.000842,-0.009997,1.000000,-0.012254,0.013444,0.022583,-0.028362,0.007784,-0.014001,-0.000567,0.003868,0.014733
3,0.006268,0.028308,-0.012254,1.000000,-0.304180,-0.014858,-0.010084,0.012797,0.118533,0.401110,-0.134892,0.012087
4,0.012238,-0.030680,0.013444,-0.304180,1.000000,0.003183,0.009612,0.014204,-0.047820,-0.010419,0.009039,-0.021859
5,-0.005458,-0.011721,0.022583,-0.014858,0.003183,1.000000,-0.011866,-0.009933,-0.007138,0.010577,-0.013480,0.005766
6,0.025651,0.085472,-0.028362,-0.010084,0.009612,-0.011866,1.000000,-0.011421,-0.156128,-0.020486,0.016732,0.022544
7,-0.001384,-0.007201,0.007784,0.012797,0.014204,-0.009933,-0.011421,1.000000,0.012097,0.010297,-0.006482,-0.008112
8,-0.027094,0.285323,-0.014001,0.118533,-0.047820,-0.007138,-0.156128,0.012097,1.000000,0.173488,-0.052667,-0.106512
9,0.005538,0.046897,-0.000567,0.401110,-0.010419,0.010577,-0.020486,0.010297,0.173488,1.000000,-0.332084,-0.024628
10,0.004780,-0.001685,0.003868,-0.134892,0.009039,-0.013480,0.016732,-0.006482,-0.052667,-0.332084,1.000000,0.016889
11,-0.002857,-0.027544,0.014733,0.012087,-0.021859,0.005766,0.022544,-0.008112,-0.106512,-0.024628,0.016889,1.000000

In [33]:
for i in range(12):
    print(sorted(dataset.corr().iloc[0], reverse=True))

[1.0, 0.025651323283148557, 0.012237879283267966, 0.0062683816160088385, 0.005537552606602838, 0.004779770274798055, 0.0008419418186460584, -0.0013842928679845131, -0.002856620120447263, -0.00396490552539012, -0.00545848209462333, -0.027093539754655643]
[1.0, 0.025651323283148557, 0.012237879283267966, 0.0062683816160088385, 0.005537552606602838, 0.004779770274798055, 0.0008419418186460584, -0.0013842928679845131, -0.002856620120447263, -0.00396490552539012, -0.00545848209462333, -0.027093539754655643]
[1.0, 0.025651323283148557, 0.012237879283267966, 0.0062683816160088385, 0.005537552606602838, 0.004779770274798055, 0.0008419418186460584, -0.0013842928679845131, -0.002856620120447263, -0.00396490552539012, -0.00545848209462333, -0.027093539754655643]
[1.0, 0.025651323283148557, 0.012237879283267966, 0.0062683816160088385, 0.005537552606602838, 0.004779770274798055, 0.0008419418186460584, -0.0013842928679845131, -0.002856620120447263, -0.00396490552539012, -0.00545848209462333, -0.027093539754655643]
[1.0, 0.025651323283148557, 0.012237879283267966, 0.0062683816160088385, 0.005537552606602838, 0.004779770274798055, 0.0008419418186460584, -0.0013842928679845131, -0.002856620120447263, -0.00396490552539012, -0.00545848209462333, -0.027093539754655643]
[1.0, 0.025651323283148557, 0.012237879283267966, 0.0062683816160088385, 0.005537552606602838, 0.004779770274798055, 0.0008419418186460584, -0.0013842928679845131, -0.002856620120447263, -0.00396490552539012, -0.00545848209462333, -0.027093539754655643]
[1.0, 0.025651323283148557, 0.012237879283267966, 0.0062683816160088385, 0.005537552606602838, 0.004779770274798055, 0.0008419418186460584, -0.0013842928679845131, -0.002856620120447263, -0.00396490552539012, -0.00545848209462333, -0.027093539754655643]
[1.0, 0.025651323283148557, 0.012237879283267966, 0.0062683816160088385, 0.005537552606602838, 0.004779770274798055, 0.0008419418186460584, -0.0013842928679845131, -0.002856620120447263, -0.00396490552539012, -0.00545848209462333, -0.027093539754655643]
[1.0, 0.025651323283148557, 0.012237879283267966, 0.0062683816160088385, 0.005537552606602838, 0.004779770274798055, 0.0008419418186460584, -0.0013842928679845131, -0.002856620120447263, -0.00396490552539012, -0.00545848209462333, -0.027093539754655643]
[1.0, 0.025651323283148557, 0.012237879283267966, 0.0062683816160088385, 0.005537552606602838, 0.004779770274798055, 0.0008419418186460584, -0.0013842928679845131, -0.002856620120447263, -0.00396490552539012, -0.00545848209462333, -0.027093539754655643]
[1.0, 0.025651323283148557, 0.012237879283267966, 0.0062683816160088385, 0.005537552606602838, 0.004779770274798055, 0.0008419418186460584, -0.0013842928679845131, -0.002856620120447263, -0.00396490552539012, -0.00545848209462333, -0.027093539754655643]
[1.0, 0.025651323283148557, 0.012237879283267966, 0.0062683816160088385, 0.005537552606602838, 0.004779770274798055, 0.0008419418186460584, -0.0013842928679845131, -0.002856620120447263, -0.00396490552539012, -0.00545848209462333, -0.027093539754655643]

Here, there is not much correlation between features. We are going to use all the features.