### Importing libraries

In [1]:
import numpy as np
import pandas as pd

### Loading DataFile

In [2]:
dataset = pd.read_csv("Dataset/FeatureEnginnered.csv")
dataset.head()

,Unnamed: 0,0,1,2,3,4,5,6,7,8,9,10,Exited
0,0,-0.326221,0.293517,-1.041760,-1.225848,-0.911583,0.646092,0.970243,0.021886,-0.578736,-0.573809,-1.095988,1
1,1,-0.440036,0.198164,-1.387538,0.117350,-0.911583,-1.547768,0.970243,0.216534,-0.578736,1.742740,-1.095988,0
2,2,-1.536794,0.293517,1.032908,1.333053,2.527057,0.646092,-1.030670,0.240687,-0.578736,-0.573809,-1.095988,1
3,3,0.501521,0.007457,-1.387538,-1.225848,0.807737,-1.547768,-1.030670,-0.108918,-0.578736,-0.573809,-1.095988,0
4,4,2.063884,0.388871,-1.041760,0.785728,-0.911583,0.646092,0.970243,-0.365276,-0.578736,1.742740,-1.095988,0

In [3]:
dataset.drop(columns=["Unnamed: 0"], inplace=True)
dataset.head()

,0,1,2,3,4,5,6,7,8,9,10,Exited
0,-0.326221,0.293517,-1.041760,-1.225848,-0.911583,0.646092,0.970243,0.021886,-0.578736,-0.573809,-1.095988,1
1,-0.440036,0.198164,-1.387538,0.117350,-0.911583,-1.547768,0.970243,0.216534,-0.578736,1.742740,-1.095988,0
2,-1.536794,0.293517,1.032908,1.333053,2.527057,0.646092,-1.030670,0.240687,-0.578736,-0.573809,-1.095988,1
3,0.501521,0.007457,-1.387538,-1.225848,0.807737,-1.547768,-1.030670,-0.108918,-0.578736,-0.573809,-1.095988,0
4,2.063884,0.388871,-1.041760,0.785728,-0.911583,0.646092,0.970243,-0.365276,-0.578736,1.742740,-1.095988,0

In [4]:
dependent_variables = dataset['Exited']
independent_variables = dataset.drop(columns=['Exited'])

In [5]:
dependent_variables.head()

0    1
1    0
2    1
3    0
4    0
Name: Exited, dtype: int64

In [6]:
independent_variables.head()

,0,1,2,3,4,5,6,7,8,9,10
0,-0.326221,0.293517,-1.041760,-1.225848,-0.911583,0.646092,0.970243,0.021886,-0.578736,-0.573809,-1.095988
1,-0.440036,0.198164,-1.387538,0.117350,-0.911583,-1.547768,0.970243,0.216534,-0.578736,1.742740,-1.095988
2,-1.536794,0.293517,1.032908,1.333053,2.527057,0.646092,-1.030670,0.240687,-0.578736,-0.573809,-1.095988
3,0.501521,0.007457,-1.387538,-1.225848,0.807737,-1.547768,-1.030670,-0.108918,-0.578736,-0.573809,-1.095988
4,2.063884,0.388871,-1.041760,0.785728,-0.911583,0.646092,0.970243,-0.365276,-0.578736,1.742740,-1.095988

### Splitting into Training and Test Data

In [7]:
from sklearn.model_selection import train_test_split
x_train, x_test, y_train, y_test = train_test_split(independent_variables, dependent_variables, train_size=0.8)

In [8]:
x_train.shape, x_test.shape, y_train.shape, y_test.shape

((8000, 11), (2000, 11), (8000,), (2000,))

### Model Creation

In [9]:
from tensorflow.keras.models import Sequential
from tensorflow.keras.layers import Dense

model = Sequential()
model.add(Dense(6, activation="relu"))
model.add(Dense(6, activation="relu"))
model.add(Dense(1, activation="sigmoid"))
model.compile(optimizer="adam", loss="binary_crossentropy", metrics=["accuracy"])

### Training Model

In [10]:
model.fit(x_train, y_train, batch_size = 10, epochs = 20)

Epoch 1/20
WARNING:tensorflow:Layer dense is casting an input tensor from dtype float64 to the layer's dtype of float32, which is new behavior in TensorFlow 2.  The layer has dtype float32 because its dtype defaults to floatx.

If you intended to run this layer in float32, you can safely ignore this warning. If in doubt, this warning is likely only an issue if you are porting a TensorFlow 1.X model to TensorFlow 2.

To change all layers to have dtype float64 by default, call `tf.keras.backend.set_floatx('float64')`. To change just this layer, pass dtype='float64' to the layer constructor. If you are the author of this layer, you can disable autocasting by passing autocast=False to the base Layer constructor.

800/800 [==============================] - 1s 636us/step - loss: 0.5028 - accuracy: 0.7731
Epoch 2/20
800/800 [==============================] - 1s 646us/step - loss: 0.4424 - accuracy: 0.7984
Epoch 3/20
800/800 [==============================] - 0s 622us/step - loss: 0.4198 - accuracy: 0.8214
Epoch 4/20
800/800 [==============================] - 0s 624us/step - loss: 0.3946 - accuracy: 0.8415
Epoch 5/20
800/800 [==============================] - 0s 621us/step - loss: 0.3765 - accuracy: 0.8444
Epoch 6/20
800/800 [==============================] - 0s 621us/step - loss: 0.3665 - accuracy: 0.8479
Epoch 7/20
800/800 [==============================] - 0s 624us/step - loss: 0.3595 - accuracy: 0.8482
Epoch 8/20
800/800 [==============================] - 0s 623us/step - loss: 0.3550 - accuracy: 0.8505
Epoch 9/20
800/800 [==============================] - 0s 615us/step - loss: 0.3517 - accuracy: 0.8545
Epoch 10/20
800/800 [==============================] - 1s 633us/step - loss: 0.3498 - accuracy: 0.8561
Epoch 11/20
800/800 [==============================] - 0s 621us/step - loss: 0.3472 - accuracy: 0.8575
Epoch 12/20
800/800 [==============================] - 1s 627us/step - loss: 0.3466 - accuracy: 0.8585
Epoch 13/20
800/800 [==============================] - 1s 628us/step - loss: 0.3452 - accuracy: 0.8576
Epoch 14/20
800/800 [==============================] - 1s 637us/step - loss: 0.3449 - accuracy: 0.8589
Epoch 15/20
800/800 [==============================] - 0s 624us/step - loss: 0.3431 - accuracy: 0.8618
Epoch 16/20
800/800 [==============================] - 0s 620us/step - loss: 0.3426 - accuracy: 0.8600
Epoch 17/20
800/800 [==============================] - 0s 620us/step - loss: 0.3418 - accuracy: 0.8604
Epoch 18/20
800/800 [==============================] - 0s 625us/step - loss: 0.3418 - accuracy: 0.8605
Epoch 19/20
800/800 [==============================] - 0s 621us/step - loss: 0.3413 - accuracy: 0.8596
Epoch 20/20
800/800 [==============================] - 0s 621us/step - loss: 0.3405 - accuracy: 0.8630

### Testing Model

In [11]:
y_pred_model = model.predict(x_test)
y_pred_model = y_pred_model > 0.5

In [12]:
from sklearn.metrics import confusion_matrix,accuracy_score
cm_model = confusion_matrix(y_test, y_pred_model)
accuracy_model=accuracy_score(y_test,y_pred_model)

In [13]:
cm_model, accuracy_model

(array([[1542,   69],
        [ 214,  175]]),
 0.8585)

### Saving Model

In [14]:
model.save("classifier")

WARNING:tensorflow:From /opt/anaconda3/lib/python3.8/site-packages/tensorflow/python/training/tracking/tracking.py:111: Model.state_updates (from tensorflow.python.keras.engine.training) is deprecated and will be removed in a future version.
Instructions for updating:
This property should not be used in TensorFlow 2.0, as updates are applied automatically.
WARNING:tensorflow:From /opt/anaconda3/lib/python3.8/site-packages/tensorflow/python/training/tracking/tracking.py:111: Layer.updates (from tensorflow.python.keras.engine.base_layer) is deprecated and will be removed in a future version.
Instructions for updating:
This property should not be used in TensorFlow 2.0, as updates are applied automatically.
INFO:tensorflow:Assets written to: classifier/assets